Lambda Function

In [2]:
#Calculate the Area of Circle
import math

area_of_circle = lambda x: math.pi * x**2

Area_of_Circle = area_of_circle(5)
print(Area_of_Circle)

78.53981633974483

In [5]:
#Caluculate the Cube

import math

cube = lambda x: x**3

Cube_of_Number = cube(5)

print("Cube_of_Number: ", Cube_of_Number)

Cube_of_Number:  125

In [6]:
#Calculate the product of two number

product = lambda x,y: x*y

Product_of_Number = product(5,6)

print("Product_of_Number: ", Product_of_Number)

Product_of_Number:  30

In [11]:
#find out the number is odd or even

number = lambda x: "Even" if x%2==0 else "Odd"

Number = number(int(input("Enter the Number: \n")))

print("Given Number is ",Number)

Enter the Number:
6
Given Number is  Even

In [17]:
#Find the Age given eligible for voting or not

age = lambda x: "Eligible" if x>=18 else "Not Eligible"

Criteria =  age(int(input("Enter the Age: \n")))

print("Criteria Age for voting: ",Criteria)

Enter the Age:
19
Criteria Age for voting:  Eligible

In [18]:
#enter the 3 number to find out the biggest three number


number = lambda x,y,z: max(x,y,z)

biggest_number = number(int(input("Enter the 1st Number: \n")),int(input("Enter the 2nd Number: \n")),int(input("Enter the 3rd Number: \n")))

print("Biggest Number: ",biggest_number)

Enter the 1st Number:
18
Enter the 2nd Number:
35
Enter the 3rd Number:
65
Biggest Number:  65

In [19]:
#map function

ls = [1,2,3,4,5,6,7,8,9,10]

number = list(map(lambda x: x**2,ls))

print(number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#filter function: only returns the true value

numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5]

In [25]:
#reduce: returns the single value

from functools import reduce

numbers = [1,2,3,4,5,6]
sum_of_numbers = reduce(lambda x,y: x+y,numbers)
print(sum_of_numbers)

21

In [27]:
#Task


#write a python program to triple all the number in a given list of integer use python map

ls = [1,2,3,4,5,6,7,8,9,10]
number = list(map(lambda x: x**3,ls))
print(number)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [33]:
#Write a python program to convert all the character into upper and lower case and eliminate duplicate letters from a given sequence. Use the map function
word = "Hello World"

upper = list(map(lambda x: x.upper(),word))
print("Upper Case Character of the Word: ",upper)

lower = list(map(lambda x: x.lower(),word))
print("lower Case Character of the Word: ",lower)

Upper Case Character of the Word:  ['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
lower Case Character of the Word:  ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [37]:
#Write a python program that uses the filter function to extract all uppercase letter from a a mixed case string

word = "WasBozGoz"

mix_case = list(filter(lambda x:x.isupper(),word ))

print(mix_case)

['W', 'B', 'G']

In [42]:
#Write a python program that create a list of names and uses the filter function to extract the names that start with a vowel(A,E,I,O,U)
names = ["Alice", "Bob", "Eve", "Oscar", "Uma", "Charlie"]

check = list(filter(lambda x:x[0].upper() in "AEIOU",names))
print(check)

['Alice', 'Eve', 'Oscar', 'Uma']

In [46]:
#Using reduce function find out biggest and largest value in list

from functools import reduce
number = [15,28,85,46,78,105,36]

largest_number = reduce(lambda x,y: x if x>y else y, number)
print(largest_number)

105