In [ ]:
#if_else exercise


#Age criteria using set conditional format
age = int(input("enter there age: "))

#program should use following age group:
if 0 < age and age <= 12:
    print("child")
elif 13 <= age and age <= 19:
    print("teenage")
elif 20 <= age and age <= 59:
  print("Adult")
elif 60 <= age and age <= 100:
  print("Senior citizen")

else:
  print("invalid age and or out of range")

enter there age: 121
iinvalid age and or out of range

In [ ]:
#take user input and get conditional output as set

user = int(input("enter the number from 1 to 7: \n"))

if user == 1:
  print("Sunday")
elif user == 2:
  print("Monday")
elif user == 3:
  print("Tuesday")
elif user == 4:
  print("Wednesday")
elif user == 5:
  print("Thursday")
elif user == 6:
  print("Friday")
elif user == 7:
  print("Saturday")

else:
  print("enter the valid input")

enter the number from 1 to 7:
1
Sunday

In [ ]:
#calculate the body mass index using following condition

weight = int(input("Enter the weight: \n"))

height = int(input("Enter the height in cm: \n"))

bmi = (weight)/(height/100)**2

if bmi < 18.5:
  print("Underweight")
elif 18.5 <= bmi <= 24.9:
  print("Normal weight")
elif 25 <= bmi <= 29.9:
  print("Overweight")
elif bmi >= 30:
  print("obesity")
else:
  print("calculation error due to wrong input")

print(f"your bmi calculated value is {bmi}")

Enter the weight:
57
Enter the height in cm:
155
Normal weight
your bmi calculated value is 23.725286160249738

In [ ]:
#marks obtained by a student in 3 different subject are input in user,
#program should calculate the average of subject and display the garde



print("Welcome to the School Grade distribution day")

english = int(input("Enter the marks obtained in english: \n"))
maths = int(input("Enter the marks obtained in maths: \n"))
science = int(input("Enter the marks obtained in science: \n"))

total  = english + maths + science

average = total/3

if 90 <= average <= 100:
  print("A grade")
elif 80 <= average <= 89:
  print("B grade")
elif 70 <= average <= 79:
  print("C grade")
elif 60 <= average <= 69:
  print("D grade")
elif 0 < average <= 59:
  print("E grade")
else:
  print("invalid input")

Welcome to the School Grade distribution day
Enter the marks obtained in english:
92
Enter the marks obtained in maths:
93
Enter the marks obtained in science:
80
B grade

In [ ]:
#this code fails for number inputn hence to overcome we need to try something else
char = input("enter the character: \n")

if char in ["A","E","I","O","U","a","e","i","o","u"]:
  print("vowel")
else:
  print("consonant")

enter the character:
5
consonant

In [ ]:
#user input and prompt vowel or consonent

char = input("enter the character: \n")

if char.isalpha() and len(char) == 1:
  if char in "AEIOUaeiou":
    print("vowel")

  else:
    print("consonant")

else:
  print("invalid input")

enter the character:
i
vower

In [ ]:
#user input to find the year is leap or not

year = int(input("Enter the year: \n"))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
      print(f"leap year {year}")

else:
    print("not a leap year")

Enter the year:
2004
leap year 2004

In [24]:
#input the number of call done by user to calculate the telephone bill

calls = int(input("Enter the number of calls: \n"))
bill  = 200
#bill calculation
#as the following rule:
if calls <= 100:
  bill = 200
elif  100 <= calls <= 150:
    bill = (200)+0.60
elif 150 <= calls <= 200:
    bill = (200)+0.50
elif calls >= 200:
    bill = (200)+0.60+0.50+0.40

else:
  bill = 200+.60+0.50+0.40+0.10

print(f"total bill is {bill}")

Enter the number of calls:
120
total bill is 200.6

In [ ]:
#isdigit , isalnum, isalpha for extra restriction

char = input("Enter a character: \n")

if char.isalpha():
    print("It's an alphabetic character.")
elif char.isdigit():
    print("It's a digit.")
elif not char.isalnum():
    print("It's a symbol or special character.")
else:
    print("Invalid input.")

In [7]:
#prompt user to add 3 input number n get output sort them in ascending order


num01 = input("enter the number: \n")
num02 = input("enter the number: \n")
num03 = input("enter the number: \n")

if num01 > num02 and num01 > num03:
  print(f"{num01},{num02},{num03}")
elif num02> num01 and num02 > num03:
  print(f"{num02},{num01},{num03}")
elif num03 > num01 and num03 > num02:
  print(f"{num03},{num02},{num01}")


else:
  print("invalid input")

enter the number:
3
enter the number:
5
enter the number:
0
5,3,0

In [3]:
num01 = input("enter the number")
num02 = input("enter the number")
num03 = input("enter the number")

largest = max(num01,num02,num03)
print(largest)

enter the number3
enter the number5
enter the number6
6

In [4]:
#same above example using if_else condition:

num01 = input("enter the number")
num02 = input("enter the number")
num03 = input("enter the number")


if num01 > num02 and num01 > num03:
  print(num01)
elif num02> num01 and num02 > num03:
  print(num02)
elif num03 > num01 and num03 > num02:
  print(num03)

else:
  print("invalid input")

enter the number3
enter the number5
enter the number8
8

In [17]:
#user input three number and list out in ascending order : split, sorting function
number = list(map(int,input("Enter the three input number seperated by spaces: \n").split()))

sorting_number = sorted(number)

print(f"number displayed in ascending order {sorting_number}")

Enter the three input number seperated by spaces:
25 10 0
number displayed in ascending order [0, 10, 25]