For_Loop

In [29]:
edible = ["almonds","broccoli","cheese","wallnut"]

vowel = "aeiou"

for food in edible:
  v = 0
  print(food ,"----->",edible)
  for char in food:
    print(char)
    if char in vowel:
      v = v+1
  print("count of vowels: ",v)

almonds -----> ['almonds', 'broccoli', 'cheese', 'wallnut']
a
l
m
o
n
d
s
count of vowels:  2
broccoli -----> ['almonds', 'broccoli', 'cheese', 'wallnut']
b
r
o
c
c
o
l
i
count of vowels:  3
cheese -----> ['almonds', 'broccoli', 'cheese', 'wallnut']
c
h
e
e
s
e
count of vowels:  3
wallnut -----> ['almonds', 'broccoli', 'cheese', 'wallnut']
w
a
l
l
n
u
t
count of vowels:  2

In [18]:
n = int(input("Enter the Number: \n"))

for row in range(n):
  for col in range(n):
    print("*",end = " ")
  print()

Enter the Number:
5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [19]:
n = int(input("Enter the Number: \n"))

for row in range(n):
  for col in range(row+1):
    print("*",end = " ")
  print()

Enter the Number:
3
*
* *
* * *

In [27]:
n = int(input("Enter the number:  "))

for row in range(n,0,-1):
  for col in range(row):
    print("*",end = " ")

  print()

Enter the number:  6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
n = int(input("Enter the number: "))

for row in range(1, n+1):
  for spaces in range(n -row):
    print(" ",end =" ")


  for star in range(2*row-1):
    print("*",end = " ")

  print()

Enter the number: 4
      *
    * * *
  * * * * *
* * * * * * *

In [37]:
n = int(input("Enter the number: "))

for row in range(1,n+1):
  for num in range(1,row+1):
    print(num,end = " ")
  print()

Enter the number: 4
1
1 2
1 2 3
1 2 3 4

In [14]:
num = int(input("Enter the table of number to be displayed:"))

for i in range(1,11):
  print(num,"*",i,"=",num*i)

Enter the table of number to be displayed:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [17]:
# num = int(input("Enter the number: "))

def avg_num(num):
  count = 0
  sum = 0
  count = count + 1
  sum = sum + i
  avg = sum/count
  return avg_num

avg_num()