Define function with / Without parameter

In [3]:
#function without return and without parameter
def sum():

  a = int(input("enter the number : "))
  b = int(input("enter the number : "))
  c = a + b
  print(a, "+", b, "=", c)

sum()

enter the number : 3
enter the number : 2
3 + 2 = 5

In [4]:
#function without return type with parameter
def div(num1,num2):
  c = num1/num2

  print(num1, "/", num2, "=", c)

div(10,2)

10 / 2 = 5.0

In [ ]:
#function with paramter and with return

def sub(a,b):
  c = a - b
  print(a, "-", b, "=", c)
  return c

sub(10,5)

In [18]:
#Task:

#Create a function average that will ask the user how many numbers they want to enter.

from ast import Num
def average():
    n = int(input("How many numbers do you want to enter? "))
    total = 0


    for  i in range(n):
      num = float(input("Enter the number: "))
      total += num

      avg = total / n
    print("The average is:", avg)

average()

How many numbers do you want to enter? 4
Enter the number: 5
Enter the number: 2
Enter the number: 3
Enter the number: 5
The average is: 3.75

In [19]:
def power(a,b):
  c = a**b
  print(a,"**",b,"=",c)

power(2,3)

2 ** 3 = 8

In [20]:
ls = ["DELHI","LONDON","PARIS","NEW YORK","DUBAI"]

result = [city for city in ls if len(city) > 5]
print(result)

['LONDON', 'NEW YORK']