Day - 5: For loop, Range, Code Blocks

In [ ]:
fruits = ["mango", "apple","cherry"]

for fruit in fruits:
    print(fruit)
    print(fruit + "pie")

mango
mangopie
apple
applepie
cherry
cherrypie

In [ ]:
#sum function
student_marks = [35,120,36,25,220]

total_marks = sum(student_marks)
print(total_marks)

436

In [ ]:
#using for loop for calculating the sum

sum = 0
for score in student_marks:
    sum += score
print(sum)

436

In [ ]:
#using for loop for finding max number
student_marks = [35,120,36,25,220]
max = 0
for score in student_marks:
  if score > max:
    max = score
print(max)

220

In [ ]:
#range function


for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Step in range hence mention 2
for number in range(1,11,2):
  print(number)

1
3
5
7
9

In [ ]:
#Gauss Challenge: total of number from 1 to 100, inclusive of both 1 and 100

sum = 0
for number in range(1,101):
  sum +=  number
print(sum)

5050

In [ ]:
#FizzBuzz Challenge


num = 0

for number in range(1,101):
  if number % 3 ==0 and number %5 ==0:
    print("fizzbuzz")
  elif number % 3 == 0:
    print("fizz")
  elif number % 5 ==0:
    print("Buzz")
  else:
    print(number)
    num += 1

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
Buzz
fizz
22
23
fizz
Buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
Buzz
fizz
37
38
fizz
Buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
Buzz
fizz
52
53
fizz
Buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
Buzz
fizz
67
68
fizz
Buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
Buzz
fizz
82
83
fizz
Buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
Buzz
fizz
97
98
fizz
Buzz

Day - 5: Password Generator Mini Project

In [18]:
import random

art = ['a','b','c','d''e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',"A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
num = ['0','1','2','3','4','5','6','7','8','9']
sym = ['!','@','#','$','%','^','&','*','(',')']

article = int(input("How many letters would you like in your password? "))
no =  int(input("How many symbols would you like? "))
digit = int(input("How many numbers would you like? "))

password = []
for letter in range(1,article+1):
  password.append(random.choice(art))

for number in range(1,no+1):
  password.append(random.choice(num))

for character in range(1,digit+1):
  password.append(random.choice(sym))

print(password)
random.shuffle(password)
print(password)

passcode = ''.join(password)
print(passcode)

How many letters would you like in your password? 3
How many symbols would you like? 3
How many numbers would you like? 3
['R', 'n', 'k', '7', '5', '8', '&', '(', '$']
['k', '5', 'R', 'n', '8', '$', '&', '7', '(']
k5Rn8$&7(