In [ ]:
#Dictionary

Students ={"name":"Aditya","coursr":"Python Web Developement","timing": "4pm:6pm","age":20},{"name":"savita"},{"name":"vidya","course":"java","age":"30"}
print(Students)

({'name': 'Aditya', 'coursr': 'Python Web Developement', 'timing': '4pm:6pm', 'age': 20}, {'name': 'savita'}, {'name': 'vidya', 'course': 'java', 'age': '30'})

In [ ]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
print(thisdict) #call the created dictionary

print(thisdict["brand"]) #print the value from dictionary
print(type(thisdict)) #type of datatype

print(len(thisdict))  #find the len of dictionary in which only value is calculated in terms of words count

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
<class 'dict'>
3

In [ ]:
#value of the dicttionary can be anything that is string, int, float, bool, list
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
#dictionary making format using dict

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#Access Item from the the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
#retrive the keys from the dictionary
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
#retrive the values from the dictionary
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
#altert the values in dictionary as mutuable

thisdict["year"] = 2004
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2004}

In [ ]:
#add new key and value in dictionary

thisdict["colour"] = "red"
del thisdict["colour0"] #oftenly used to delete the key and value
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2004, 'colour': 'red'}

In [ ]:
#get the list of key and value

x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2004), ('colour', 'red')])

In [17]:
#Assignment: Dictionary



students = {
    1: {"name": "Aditya", "course": "Python web development", "timing": "4pm-6pm", "age": 20},
    2: {"name": "Savita"},
    3: {"name": "Vidya", "course": "Java", "age": 30}
}

#Question
# 1.find out the roll no 1 is present in the dictionary or not
# 2.append a new record for roll no 6 in dictionary
# 3.display the name and course of roll no 1
# 4.change the course and roll no3 to AIML
# 5.display length of roll no1



1.
if 2 in students:
    print("yes")
else:
  print("no")

2.
students[6] = {"name": "Rahul", "course": "ML", "timing": "4pm-6pm", "age": 20}
print(students)

3.
print(students[1]["name"],students[1]["course"])

4.
students[3]["course"] ="AIML"
print(students)

5.
print(len(students[1]))

yes
{1: {'name': 'Aditya', 'course': 'Python web development', 'timing': '4pm-6pm', 'age': 20}, 2: {'name': 'Savita'}, 3: {'name': 'Vidya', 'course': 'Java', 'age': 30}, 6: {'name': 'Rahul', 'course': 'ML', 'timing': '4pm-6pm', 'age': 20}}
4
{1: {'name': 'Aditya', 'course': 'Python web development', 'timing': '4pm-6pm', 'age': 20}, 2: {'name': 'Savita'}, 3: {'name': 'Vidya', 'course': 'AIML', 'age': 30}, 6: {'name': 'Rahul', 'course': 'ML', 'timing': '4pm-6pm', 'age': 20}}
Aditya Python web development